
@model Core.Dto.ParameterDto
<img src="~/Content/Images/Bodrum/general2.jpg" width="100%" style="margin-bottom: 10px;"/>
@Model.Name 
@Model.Phone
@Model.Url
<br/>
<br/>
    <p>Deniz kıyısında hizmet veren Vera Miramar Resort, özel bir plaj ve bahçe veya deniz manzarasına sahip klimalı odalar sunmaktadır.</p>
