@*<div class="panel-body" style="margin-top: 50px;" id="MapDetailId">

    </div>*@
<div class="panel-body" style="margin-top: 10px;" id="">
    <img src="~/Content/Images/Bodrum/bodrum-evleri-bodrum.jpg" width="100%" />
    <p style="margin-top: 10px">
        Hotel Baia Bodrum<br /><br/>
        Limon, portakal ve zeytin ağaçlarıyla çevrili açık havuzu bulunan Hotel Centro Bodrum, Bodrum’un merkezinde yer almaktadır. Klimalı konaklama birimleri düz ekran TV ile donatılmıştır. Wi-Fi erişimi ücretsizdir.
    </p>
</div>
<div class="panel-body" style="margin-top: 10px;" id="">
    <img src="~/Content/Images/Bodrum/bodrum-foto-galeri.jpg" width="100%" />
    <p style="margin-top: 10px">Hotel  Bodrum</p>
</div>
<div class="panel-body" style="margin-top: 10px;" id="">
    <img src="~/Content/Images/Bodrum/bodrum-otel-centro.PNG" width="100%" />
    <p style="margin-top: 10px">
        Hotel Centro Bodrum<br/><br/>
        Centro Hotel Bodrum’un tüm odaları modern bir şekilde dekore edilmiştir. 
    </p>
</div>

<div class="panel-body" style="margin-top: 60px;height: 280px;
    border-color: black;
    border: black;
    border-style: solid;
    position: relative;display: none" id="smallmapDv">


</div>
<script>
    $(function () {
        map.GetMapDetail(null, null);
        // map.GetSmallMap();
    });
</script>